.f3a8svg-icon {
  position: relative;
  width: 5.31rem;
  height: 5.31rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f3a8svg {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.09rem 0;
  align-items: center;
  justify-content: center;
}
.unleash-the {
  position: relative;
  line-height: 5.5rem;
  display: inline-block;
  max-width: 50rem;
}
.vibrancy-in {
  margin: 0;
}
.pframer-text {
  width: 50rem;
  display: flex;
  flex-direction: column;
  padding: 0 10.84rem 0 10.85rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.view-artwork {
  position: relative;
  line-height: 1.5rem;
}
.divframer-1931zuf {
  border-radius: 4px;
  background-color: #a4161a;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0.63rem 1.19rem 0.63rem 1.25rem;
  align-items: center;
  justify-content: center;
}
.divframer-1vza2u7 {
  border-radius: 4px;
  background-color: #ba181b;
  flex-direction: row;
  padding: 0.63rem 1.25rem;
  color: #fff;
}
.divframer-1vza2u7,
.divframer-m2uc8r,
.divframer-s534aw,
.header {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divframer-m2uc8r {
  width: 62.5rem;
  flex-direction: row;
  padding: 0 22.86rem 0 22.88rem;
  box-sizing: border-box;
  gap: 0.63rem;
  text-align: left;
  font-size: 1rem;
  color: #f5f3f4;
  font-family: "Old Standard TT";
}
.divframer-s534aw,
.header {
  flex-shrink: 0;
}
.divframer-s534aw {
  width: 62.5rem;
  height: 32.25rem;
  flex-direction: column;
  gap: 3.75rem;
  max-width: 118.94rem;
}
.header {
  background-color: #161a1d;
  height: 50rem;
  flex-direction: row;
  padding: 8.88rem 28.22rem;
  box-sizing: border-box;
  font-size: 5rem;
}
.welcome-to-the {
  position: relative;
  line-height: 3.6rem;
  display: inline-block;
  max-height: 3.6rem;
}
.heading-2 {
  display: flex;
  flex-direction: column;
  padding: 0 26.69rem 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.meet-lucy-oconnor-container {
  position: relative;
  line-height: 1.88rem;
  display: inline-block;
  max-width: 30rem;
}
.heading-3 {
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 0 0.19rem 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.this-thriving-playground-container {
  position: relative;
  line-height: 1.88rem;
  display: inline-block;
  max-width: 30.06rem;
}
.divframer-v6gho9,
.heading-31 {
  display: flex;
  align-items: flex-start;
}
.heading-31 {
  width: 30rem;
  flex-direction: column;
  justify-content: flex-start;
}
.divframer-v6gho9 {
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.25rem;
  color: #d3d3d3;
  font-family: "Old Standard TT";
}
.divframer-1xtd2ck,
.divframer-doccch {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divframer-doccch {
  align-items: flex-start;
  gap: 2.5rem;
  max-width: 62.5rem;
}
.divframer-1xtd2ck {
  background-color: #161a1d;
  padding: 6.25rem 28.22rem;
  align-items: center;
  text-align: left;
}
.fjtljxj1qbtdh2ortcocu4cw8yjpg-icon {
  flex: 1;
  position: relative;
  border-radius: 40px;
  max-height: 100%;
  width: 30.63rem;
  overflow: hidden;
  object-fit: cover;
}
.winds-of-change {
  position: relative;
  line-height: 3rem;
  display: inline-block;
  max-width: 30.63rem;
}
.heading-32 {
  width: 30.63rem;
  display: flex;
  flex-direction: column;
  padding: 0 14.44rem 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-groundbreaking-logo-container {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  max-width: 18.81rem;
}
.heading-33 {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;
  color: #f5f3f4;
  font-family: "Old Standard TT";
}
.divframer-h8f7eg {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  gap: 0.63rem;
}
.divframer-h8f7eg,
.divframer-x4gmqg,
.heading-34 {
  display: flex;
  flex-direction: column;
}
.divframer-x4gmqg {
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 1.88rem;
}
.heading-34 {
  width: 30.63rem;
  padding: 0 14.13rem 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-vibrant-poster-container {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  max-width: 18.88rem;
}
.divframer-f5wx7t {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
  max-width: 62.5rem;
}
.divframer-1lrh3a8 {
  background-color: #161a1d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 6.25rem 28.22rem;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 2rem;
}
.f92fsvg-icon {
  position: relative;
  width: 14.02rem;
  height: 12.33rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 1.97rem;
  bottom: 37.63rem;
  left: calc(50% - 713.28px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(121deg);
  transform-origin: 0 0;
  opacity: 0.02;
}
.f4a5svg-icon {
  position: relative;
  width: 10.39rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg {
  position: absolute;
  height: calc(100% - 633.69px);
  top: -1.69rem;
  bottom: 41.3rem;
  left: calc(50% - 517.78px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  transform-origin: 0 0;
  opacity: 0.47;
}
.f92fsvg-icon1 {
  position: relative;
  width: 14.7rem;
  height: 12.55rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg1 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: -3.32rem;
  bottom: 42.93rem;
  left: calc(50% - 382.06px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(44deg);
  transform-origin: 0 0;
  opacity: 0.78;
}
.f4a5svg-icon1 {
  position: relative;
  width: 14.43rem;
  height: 12.41rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg1 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 5.66rem;
  bottom: 33.95rem;
  left: calc(50% + 17.66px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(146deg);
  transform-origin: 0 0;
  opacity: 0.49;
}
.f92fsvg-icon2 {
  position: relative;
  width: 11.09rem;
  height: 10.74rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg2 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: -2.03rem;
  bottom: 41.64rem;
  left: calc(50% + 195.45px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(86deg);
  transform-origin: 0 0;
  opacity: 0.73;
}
.f4a5svg-icon2 {
  position: relative;
  width: 13.63rem;
  height: 12.01rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg2 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 13.57rem;
  bottom: 26.04rem;
  left: calc(50% + 327.07px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-113deg);
  transform-origin: 0 0;
  opacity: 0.69;
}
.f92fsvg-icon3 {
  position: relative;
  width: 14.62rem;
  height: 12.51rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg3,
.f92fsvg3 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 13.57rem;
  bottom: 26.04rem;
  left: calc(50% + 634.24px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-141deg);
  transform-origin: 0 0;
  opacity: 0.44;
}
.f4a5svg3 {
  top: 12.67rem;
  bottom: 26.93rem;
  left: calc(50% + 910.25px);
  transform: rotate(-157deg);
  opacity: 0.24;
}
.f4a5svg-icon4 {
  position: relative;
  width: 12.73rem;
  height: 12.73rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg4 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 24.84rem;
  bottom: 14.77rem;
  left: calc(50% - 893.12px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-105deg);
  transform-origin: 0 0;
  opacity: 0.32;
}
.f92fsvg-icon4 {
  position: relative;
  width: 11.42rem;
  height: 11.42rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg4 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 23.15rem;
  bottom: 16.46rem;
  left: calc(50% - 695.16px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-84deg);
  transform-origin: 0 0;
  opacity: 0.2;
}
.f4a5svg-icon5 {
  position: relative;
  width: 14.2rem;
  height: 14.2rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg5 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 8.9rem;
  bottom: 30.71rem;
  left: calc(50% - 414.41px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(30deg);
  transform-origin: 0 0;
  opacity: 0.94;
}
.f92fsvg-icon5 {
  position: relative;
  width: 11.58rem;
  height: 11.58rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg5 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 10.84rem;
  bottom: 28.76rem;
  left: calc(50% - 219.42px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(7deg);
  transform-origin: 0 0;
  opacity: 0.03;
}
.f4a5svg-icon6 {
  position: relative;
  width: 10.92rem;
  height: 10.92rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg6 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 10.24rem;
  bottom: 29.37rem;
  left: calc(50% + 209px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(93deg);
  transform-origin: 0 0;
  opacity: 0.39;
}
.f92fsvg-icon6 {
  position: relative;
  width: 13.98rem;
  height: 13.98rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg6 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 18.35rem;
  bottom: 21.26rem;
  left: calc(50% + 496.49px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(153deg);
  transform-origin: 0 0;
  opacity: 0.43;
}
.f4a5svg-icon7 {
  position: relative;
  width: 12.04rem;
  height: 12.04rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg7 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 12.92rem;
  bottom: 26.69rem;
  left: calc(50% + 477.98px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-10deg);
  transform-origin: 0 0;
  opacity: 0.43;
}
.f92fsvg-icon7 {
  position: relative;
  width: 14.02rem;
  height: 14.26rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg7 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 15.93rem;
  bottom: 23.67rem;
  left: calc(50% + 704.03px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-31deg);
  transform-origin: 0 0;
  opacity: 0.77;
}
.f92fsvg-icon8 {
  position: relative;
  width: 11.89rem;
  height: 11.89rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg8 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 32.54rem;
  bottom: 7.06rem;
  left: calc(50% - 719.47px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(171deg);
  transform-origin: 0 0;
  opacity: 0.31;
}
.f4a5svg-icon8 {
  position: relative;
  width: 10.57rem;
  height: 10.57rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg8 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 23.41rem;
  bottom: 16.2rem;
  left: calc(50% - 712.56px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-1deg);
  transform-origin: 0 0;
  opacity: 0.29;
}
.f92fsvg-icon9 {
  position: relative;
  width: 12.19rem;
  height: 12.19rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg9,
.f92fsvg9 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 20.73rem;
  bottom: 18.87rem;
  left: calc(50% - 299.96px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(79deg);
  transform-origin: 0 0;
  opacity: 0.05;
}
.f4a5svg9 {
  top: 22.49rem;
  bottom: 17.12rem;
  left: calc(50% - 219.42px);
  transform: rotate(7deg);
  opacity: 0.45;
}
.f92fsvg-icon10 {
  position: relative;
  width: 11.26rem;
  height: 11.26rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg10 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 21.17rem;
  bottom: 18.43rem;
  left: calc(50% + 193.42px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(85deg);
  transform-origin: 0 0;
  opacity: 0.05;
}
.f4a5svg-icon10 {
  position: relative;
  width: 14.52rem;
  height: 14.52rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg10 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 28.64rem;
  bottom: 10.96rem;
  left: calc(50% + 498.58px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(144deg);
  transform-origin: 0 0;
  opacity: 0.53;
}
.f92fsvg-icon11 {
  position: relative;
  width: 11.74rem;
  height: 11.74rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg11 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 36.03rem;
  bottom: 3.58rem;
  left: calc(50% + 533.93px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-98deg);
  transform-origin: 0 0;
  opacity: 0.8;
}
.f4a5svg-icon11 {
  position: relative;
  width: 14.21rem;
  height: 14.64rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg11 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 36.89rem;
  bottom: 2.71rem;
  left: calc(50% + 872.27px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-140deg);
  transform-origin: 0 0;
  opacity: 0.42;
}
.f4a5svg-icon12 {
  position: relative;
  width: 14.23rem;
  height: 14.69rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg12 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 41.62rem;
  bottom: -2.02rem;
  left: calc(50% - 977.28px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-47deg);
  transform-origin: 0 0;
  opacity: 0.54;
}
.f92fsvg-icon12 {
  position: relative;
  width: 14.06rem;
  height: 14.06rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg12 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 38.78rem;
  bottom: 0.83rem;
  left: calc(50% - 737.27px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-28deg);
  transform-origin: 0 0;
  opacity: 0.05;
}
.f4a5svg-icon13 {
  position: relative;
  width: 12.86rem;
  height: 12.86rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg13 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 48.18rem;
  bottom: -8.58rem;
  left: calc(50% - 410.13px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-106deg);
  transform-origin: 0 0;
  opacity: 0.71;
}
.f92fsvg-icon13 {
  position: relative;
  width: 14.43rem;
  height: 14.43rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg13 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 39.67rem;
  bottom: -0.07rem;
  left: calc(50% - 258.04px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-34deg);
  transform-origin: 0 0;
  opacity: 0.3;
}
.f4a5svg-icon14 {
  position: relative;
  width: 13.53rem;
  height: 13.53rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg14 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 47.53rem;
  bottom: -7.92rem;
  left: calc(50% + 191.2px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-158deg);
  transform-origin: 0 0;
  opacity: 0.58;
}
.f92fsvg-icon14 {
  position: relative;
  width: 12.6rem;
  height: 12.6rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg14 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 48.07rem;
  bottom: -8.46rem;
  left: calc(50% + 306.53px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-104deg);
  transform-origin: 0 0;
  opacity: 0.32;
}
.f4a5svg-icon15 {
  position: relative;
  width: 14.62rem;
  height: 14.62rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg15 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 31.76rem;
  bottom: 7.85rem;
  left: calc(50% + 567.64px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(39deg);
  transform-origin: 0 0;
  opacity: 0.24;
}
.f92fsvg-icon15 {
  position: relative;
  width: 13.99rem;
  height: 14.2rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg15 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 41.19rem;
  bottom: -1.58rem;
  left: calc(50% + 978.32px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(150deg);
  transform-origin: 0 0;
  opacity: 0.7;
}
.f92fsvg-icon16 {
  position: relative;
  width: 14.02rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg16 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 50.87rem;
  bottom: -11.26rem;
  left: calc(50% - 978.59px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-31deg);
  transform-origin: 0 0;
  opacity: 0.19;
}
.f4a5svg-icon16 {
  position: relative;
  width: 14.32rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg16 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 52.53rem;
  bottom: -12.93rem;
  left: calc(50% - 463.43px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(148deg);
  transform-origin: 0 0;
  opacity: 0.46;
}
.f92fsvg-icon17 {
  position: relative;
  width: 13.1rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg17 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 54.59rem;
  bottom: -14.98rem;
  left: calc(50% - 230.07px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(162deg);
  transform-origin: 0 0;
  opacity: 0.29;
}
.f4a5svg-icon17 {
  position: relative;
  width: 13.72rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg17 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 43.37rem;
  bottom: -3.76rem;
  left: calc(50% - 89.04px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(66deg);
  transform-origin: 0 0;
  opacity: 0.68;
}
.f92fsvg-icon18 {
  position: relative;
  width: 12.33rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg18 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 55.43rem;
  bottom: -15.82rem;
  left: calc(50% + 245.26px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(168deg);
  transform-origin: 0 0;
  opacity: 0.68;
}
.f4a5svg-icon18 {
  position: relative;
  width: 14.62rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f4a5svg18 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 43.4rem;
  bottom: -3.8rem;
  left: calc(50% + 327.26px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(39deg);
  transform-origin: 0 0;
  opacity: 0.71;
}
.f92fsvg-icon19 {
  position: relative;
  width: 12.73rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f92fsvg19 {
  position: absolute;
  height: calc(100% - 633.69px);
  top: 46.47rem;
  bottom: -6.86rem;
  left: calc(50% + 709.78px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(105deg);
  transform-origin: 0 0;
  opacity: 0.32;
}
.f4a5svg-icon19 {
  position: relative;
  width: 10.75rem;
  height: 10.39rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divframer-rtej6i,
.f4a5svg19 {
  position: absolute;
  overflow: hidden;
}
.f4a5svg19 {
  height: calc(100% - 633.69px);
  top: 46.82rem;
  bottom: -7.22rem;
  left: calc(50% + 728.29px);
  display: flex;
  flex-direction: column;
  padding: 0 1.69rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-2deg);
  transform-origin: 0 0;
  opacity: 0.36;
}
.divframer-rtej6i {
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161a1d;
  z-index: 0;
}
.lucys-unmatched-creative,
.vision-brought-our {
  position: relative;
  line-height: 3.9rem;
  display: inline-block;
  max-width: 62.5rem;
}
.vision-brought-our {
  margin-top: -0.04rem;
}
.divframer-1upshbt,
.heading-1 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.heading-1 {
  width: 62.5rem;
  flex-direction: column;
  padding: 0 11.81rem 0 11.82rem;
  justify-content: flex-start;
  z-index: 1;
}
.divframer-1upshbt {
  background-color: #000;
  height: 50rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 17.14rem 28.22rem 17.25rem;
  justify-content: center;
  position: relative;
}
.jzkw7qir5mwzea1qgfo91wdlkoajp-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.f525svg-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f525svg {
  position: absolute;
  height: calc(100% - 30px);
  top: 2.19rem;
  bottom: -0.31rem;
  left: calc(50% + 10px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lucys-designs-are-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  display: inline-block;
  max-width: 15rem;
}
.divframer-1pypqmr,
.heading-36 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1pypqmr {
  flex: 1;
  padding: 0 0 6.19rem;
}
.ariana-white {
  position: relative;
  font-size: 0.88rem;
  line-height: 1.31rem;
  text-align: center;
}
.divframer-1niv6of {
  flex: 1;
  border-radius: 20px;
  background-color: #21272c;
  height: 25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}
.vector-icon,
.vector-icon1 {
  position: relative;
  width: 0.49rem;
  height: 1.13rem;
  object-fit: cover;
  z-index: 1;
}
.vector-icon1 {
  width: 0.96rem;
  height: 1.11rem;
  z-index: 0;
  margin-left: -0.27rem;
}
.divframer-1fgkmgs,
.divframer-hwirem,
.heading-37,
.svg1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg1 {
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0.07rem 0.03rem 0.03rem;
  box-sizing: border-box;
}
.divframer-1fgkmgs,
.divframer-hwirem,
.heading-37 {
  align-self: stretch;
  flex-direction: column;
}
.heading-37 {
  padding: 0 0.44rem 0 0;
}
.divframer-1fgkmgs,
.divframer-hwirem {
  flex: 1;
}
.divframer-hwirem {
  padding: 0 0 4.31rem;
}
.divframer-1fgkmgs {
  overflow: hidden;
  gap: 1.25rem;
}
.divframer-1tm7upi {
  position: relative;
  border-radius: 100px;
  width: 3.13rem;
  height: 3.13rem;
}
.lucys-artistry-exceeded-container {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 1.88rem;
  display: inline-block;
  max-width: 15.13rem;
}
.heading-38 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1nc19m8 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  max-width: 62.5rem;
}
.divframer-wfpr43,
.heading-21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divframer-wfpr43 {
  background-color: #161a1d;
  overflow: hidden;
  padding: 6.25rem 28.22rem;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
  color: #f5f3f4;
  font-family: "Old Standard TT";
}
.heading-21 {
  padding: 0 26.5rem 0 0;
  align-items: flex-start;
}
.unleash-your-brands-container {
  position: relative;
  line-height: 1.88rem;
}
.heading-39 {
  display: flex;
  flex-direction: column;
  padding: 0 0.31rem 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  position: relative;
  line-height: 2.4rem;
  display: inline-block;
  max-width: 11.67rem;
  max-height: 2.4rem;
}
.heading-22 {
  width: 11.67rem;
  display: flex;
  flex-direction: column;
  padding: 0 7.92rem 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.happy-clients {
  position: relative;
  letter-spacing: -0.4px;
  line-height: 1.5rem;
  display: inline-block;
  max-width: 11.67rem;
}
.divframer-yvqtja,
.pframer-text1 {
  width: 11.67rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text1 {
  padding: 0 5.79rem 0 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Old Standard TT";
}
.divframer-yvqtja {
  overflow: hidden;
  flex-shrink: 0;
  gap: 0.62rem;
}
.heading-23 {
  padding: 0 9.17rem 0 0;
}
.heading-23,
.heading-24,
.pframer-text2,
.pframer-text3 {
  width: 11.67rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text2 {
  padding: 0 3.73rem 0 0;
  font-size: 1rem;
  font-family: "Old Standard TT";
}
.heading-24,
.pframer-text3 {
  padding: 0 10.42rem 0 0;
}
.pframer-text3 {
  padding: 0 4.98rem 0 0;
  font-size: 1rem;
  font-family: "Old Standard TT";
}
.divframer-1ei1wwy,
.divframer-1kcph5i {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.divframer-1kcph5i {
  width: 37.5rem;
  height: 4.52rem;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.25rem;
  max-width: 62.5rem;
  font-size: 2rem;
  font-family: Inter;
}
.divframer-1ei1wwy {
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  max-width: 37.5rem;
  font-size: 1.25rem;
  font-family: "Old Standard TT";
}
.divframer-1szhj5q,
.divframer-ge9wyx {
  overflow: hidden;
  justify-content: flex-start;
}
.divframer-1szhj5q {
  width: 62.5rem;
  height: 16.87rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  max-width: 62.5rem;
}
.divframer-ge9wyx {
  background-color: #161a1d;
  padding: 6.25rem 28.22rem;
  text-align: left;
  color: #d3d3d3;
}
.divframer-ge9wyx,
.heading-25,
.pframer-text4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-25 {
  padding: 0 17.15rem 0 17.16rem;
  justify-content: flex-start;
  font-family: Inter;
}
.pframer-text4 {
  width: 31.25rem;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  font-size: 1rem;
}
.get-started {
  position: relative;
  line-height: 1.05rem;
  display: inline-block;
  max-height: 1.05rem;
}
.divframer-1rdql5j,
.divframer-p78w1h {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divframer-p78w1h {
  border-radius: 8px;
  background-color: #fff;
  height: 2.5rem;
  flex-direction: row;
  padding: 0.73rem 0.91rem 0.71rem 0.92rem;
  box-sizing: border-box;
  font-size: 0.88rem;
  color: #000;
}
.divframer-1rdql5j {
  background-color: #161a1d;
  flex-direction: column;
  padding: 6.25rem 34.47rem;
  gap: 1.25rem;
  font-family: "Old Standard TT";
}
.f680svg-icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f680svg {
  justify-content: center;
  z-index: 1;
}
.divframer-1fva9me,
.divframer-72rtr7,
.f680svg,
.pframer-text5 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pframer-text5 {
  padding: 0 39.56rem 0 39.57rem;
  justify-content: flex-start;
  z-index: 0;
}
.divframer-1fva9me,
.divframer-72rtr7 {
  background-color: #161a1d;
}
.divframer-1fva9me {
  padding: 6.25rem;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1rem;
  color: #b1a7a6;
  font-family: "Old Standard TT";
}
.divframer-72rtr7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  justify-content: flex-start;
  min-height: 54.88rem;
}
.vector-icon2 {
  position: relative;
  width: 0.69rem;
  height: 1rem;
  object-fit: cover;
}
.divframer-tmnpxq,
.image {
  width: 0.69rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image {
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-tmnpxq {
  z-index: 1;
}
.vector-icon3 {
  position: relative;
  width: 5.74rem;
  height: 0.63rem;
  object-fit: cover;
}
.image1,
.img-custom-site-builder {
  width: 5.75rem;
  height: 0.69rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image1 {
  overflow: hidden;
  flex-shrink: 0;
  padding: 0.03rem 0.01rem 0.03rem 0;
  box-sizing: border-box;
}
.img-custom-site-builder {
  z-index: 0;
}
.divframer-19yaanm,
.link {
  display: flex;
  align-items: center;
}
.divframer-19yaanm {
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.63rem;
}
.link {
  position: absolute;
  top: 54.19rem;
  left: 108.81rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0.6374729871749878px 1.15px -1.12px rgba(0, 0, 0, 0.26),
    0 1.93094003200531px 3.48px -2.25px rgba(0, 0, 0, 0.24),
    0 5.104229927062988px 9.19px -3.37px rgba(0, 0, 0, 0.19),
    0 16px 28.8px -4.5px rgba(0, 0, 0, 0.03);
  width: 8.88rem;
  height: 2.25rem;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}
.minimal-vibrant-portfoliofram {
  position: relative;
  background-color: #161a1d;
  width: 100%;
  height: 291.7rem;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-family: Inter;
}
